/* theme color: blue #b0cffc */
/* background color: #b0cefca8 */

h1 {
    margin-top:30px
}

#mainTitle{
    font-family: "Lobster";
}

/* .navbar.scrolled {
    background:white;
    transition: background 500ms;
} */
.navbar {
    background:white;
}

.navbar-brand {
    color:black;
    font-family: "Lobster";
    font-size:1.5rem;
}

.nav-link {
    color:black;
}

.menu {
    background:white;
}

.jumbotron {
    margin-top:3rem;
}

#title {
    background: #b0cefca8;
}

#github {
    background:#b0cffc;
}

table {
    width:100%
}

.ins {
    text-align:right;
}

.author {
    color:#b0cffc;
}



